/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Latar belakang hitam */
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    border-bottom: 1px solid #333;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #d4a373; /* Warna coklat senja */
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons img {
    width: 20px;
    height: 20px;
}
.paragraf{
    color: aqua;
    font-family:'Courier New', Courier, monospace;
}
.logo-adolKlambi{
    width: 50%; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
    padding-top: 40px;
    margin-left: -5px;
    float: left; 
    margin-right: 20px; 
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.about-us{
    margin-top: +10px;
}